<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css" type="text/css">
  <link rel="stylesheet" href="css/home.css" type="text/css">
  <title>Demo</title>
</head>
<body class="u-green1">
  <div class="demo-wrapper">
    <div class="demo-header">
      <div class="logo-wrap">
        <img src="assets/Butterfly.svg"/>
        <div>Butterfly</div>
      </div>
      <div class="moto">Your Team's Happliness Manager</div>
    </div>
    <div class="demo-body">
      <div class="demo-body__title"><span><%= companyName%></span> would like to know:</div> 
      <div class="demo-body__question">How is your week going?</div>
      <div class="demo-body__moods">
        <a href="question?v=1">
          <img src="assets/VeryUnhappy.svg"/>
        </a>
        <a href="question?v=2">
          <img src="assets/Unhappy.svg"/>
        </a>
        <a href="question?v=3">
          <img src="assets/Neutral.svg"/>
        </a>
        <a href="question?v=4">
          <img src="assets/Happy.svg"/>
        </a>
        <a href="question?v=5">
          <img src="assets/VeryHappy.svg"/>
        </a>
      </div>
      <div class="demo-body__anonymous">Your answer will always remain anonymous</div>
    </div>
    <div class="demo-footer">
      <div class="demo-footer__motto">Butterfly. Your Team's Happliness Manager.</div>
      <span class="demo-footer__copy">
        Appynest, Inc. - 67 West Street, Suite 414 - Brooklyn, NY 11222, USA <br/>
        ©2017 Appynest, Inc. All rights reserved.</span>
    </div>
  </div>
</body>
</html>