<!-- reply-form -->

<div class="question-form-reply">
  <div class="question-form-reply__arrow"></div>
  <div class="question-form-reply__header">
  <div class="question-form-reply__title">
    Anything to add? (Optional)
  </div>
  <div class="question-form-reply__note">Extra feedback helps</div>
  </div>
  <textarea class="question-textarea js-reply" placeholder="Express yourself freely and safely. This will always remain anonymous."></textarea>
</div>